<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" media="all" rel="stylesheet" href="http://gerikson.com/stylesheets/btcticker.css" />

    <title>About the world's slowest BTC price ticker</title>
  </head>
  <body>
    <h1>About the world's slowest BTC price ticker</h1>

<p><a href="index.html">Back.</a></p>

[% USE Markdown -%]
[% FILTER markdown %]

## Disclaimer

Price data accuracy and timeliness is neither implied nor guaranteed.

This service uses a free, rate-limited service from CoinMarketCap. It can be interrupted or terminated at any time.

The data as presented is based on my understanding of the data feed, and may not confirm with currently accepted models of BTC price data.

Update 2019-05-17 From 2019-03-03, the data in the historical section is not from Bitcoinaverage directly. Instead it is derived from the ticker data that is sampled at regular intervals during the day.

[% END %]

<h2>Changelog</h2>

<ul>
[% FOREACH line IN content.changelog %]
<li>[% line -%]</li>
[% END %]
</ul>

  </body>
</html>
